streamlit
spacy
sentence-transformers
keybert
lexicalrichness
textstat
nltk
numpy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.11/en_core_web_sm-3.8.11-py3-none-any.whl
